<!DOCTYPE html>
<html>
<head>

    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        input {
            display: block;
        }
        textarea {
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 25vh;
            white-space: pre;
            overflow-x: auto;
        }


    </style>

</head>
<body>

<textarea id="xml-document">
<?xml version='1.0' encoding='UTF-8'?>
    <S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/"
                xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/">
    <SOAP-ENV:Header/>
    <S:Body>
        <Paging>
            <PageNumber>1</PageNumber>
            <PageSize>10</PageSize>
            <PageTotal>99</PageTotal>
        </Paging>
        <ns8:getAllResponse xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:es2c="ru.emias.simi.v2.core.v2"
                            xmlns:es2d="ru.emias.simi.v2.document.v2"
                            xmlns:ns8="ru.emias.simi.v2.api.terminology.cct.v2"
                            xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <return code="38" description="Осмотр мужчины урологом" parentCode="120">
                <es2d:keyValuePairs>
                    <es2d:keyValuePair key="documentPurpose" value="Протокол осмотра"/>
                    <es2d:keyValuePair key="internal.type" value="revision"/>
                    <es2d:keyValuePair key="openEhrTemplateId"
                                       value="openEHR-EHR-COMPOSITION.t_urologist_examination_men_lanit.v2"/>
                    <es2d:keyValuePair key="specialityName" value="Врач-уролог"/>
                    <es2d:keyValuePair key="specialityName"
                                       value="Заведующий структурным подразделением - врач-уролог"/>
                </es2d:keyValuePairs>
            </return>
            <return code="39" description="Осмотр женщины урологом" parentCode="121">
                <es2d:keyValuePairs>
                    <es2d:keyValuePair key="documentPurpose" value="Протокол осмотра"/>
                    <es2d:keyValuePair key="internal.type" value="revision"/>
                    <es2d:keyValuePair key="openEhrTemplateId"
                                       value="openEHR-EHR-COMPOSITION.t_urologist_examination_women_lanit.v2"/>
                    <es2d:keyValuePair key="specialityName" value="Врач-уролог"/>
                    <es2d:keyValuePair key="specialityName"
                                       value="Заведующий структурным подразделением - врач-уролог"/>
                </es2d:keyValuePairs>
            </return>
        </ns8:getAllResponse>
    </S:Body>
</S:Envelope>
</textarea>

<textarea id="xml-template">
<?xml version='1.0' encoding='UTF-8'?>
    <S:Envelope xmlns:S="http://schemas.xmlsoap.org/soap/envelope/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/">
    <SOAP-ENV:Header />
    <S:Body>
        <Paging>
            <PageNumber>{{page.number}}</PageNumber>
            <PageSize>{{page.size}}</PageSize>
            <PageTotal>{{page.total}}</PageTotal>
        </Paging>
        <ns8:getAllResponse xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:es2c="ru.emias.simi.v2.core.v2" xmlns:es2d="ru.emias.simi.v2.document.v2" xmlns:ns8="ru.emias.simi.v2.api.terminology.cct.v2" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <return code="{{item.code}}" description="{{item.description}}" parentCode="{{item.parentCode}}" for="item in items">
                <es2d:keyValuePairs>
                    <es2d:keyValuePair key="{{pair.key}}" value="{{pair.value}}" for="pair in item.pairs"/>
                </es2d:keyValuePairs>
            </return>
        </ns8:getAllResponse>
    </S:Body>
</S:Envelope>
</textarea>
<button id="parse">Parse</button>
<textarea id="response"></textarea>

<script src="../dist/xml-template-parser.js"></script>
<script src="script.js"></script>
</body>
</html>
